<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>

<div>
  <div id="log">esperando data...</div>
  <textarea id="textbox"></textarea>
  <button onclick="alertar()">Enviar!</button>
</div>
<audio src="/notification.mp3" id="audio"></audio>